nav {
  display: inline-block;
  background-color: blue;
  margin: 0 auto;
}

ul {
 list-style: none;
 text-align: right;
}

ul li {
 display: inline-block;
 color: white;
 font-weight: bold;
 font-size: 20px;
}

header {
 text-align: center;
}

h1 {
 display: inline-block;
 text-align: left;
 font-size: 20px;
 color: white;
}